<a href="https://colab.research.google.com/github/nomeshmudhiraj8-oss/chatbot/blob/main/python_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# syntax
print("Welcome Chethana")

Welcome Chethana

In [ ]:
num = []
for i in range(5):
  marks = int(input("Enter The marks:"))
  num.append(marks)
  print(num)

Enter The marks:20
[20]
Enter The marks:30
[20, 30]
Enter The marks:40
[20, 30, 40]
Enter The marks:20
[20, 30, 40, 20]
Enter The marks:85
[20, 30, 40, 20, 85]

In [ ]:
# How To Take User Input
name = input("Enter Name Of Client:")
age  = int(input("Enter Client Age:"))
print(f"Welcome:{name}")
print(f"client Age is:{age}")

Enter Name Of Client:Timpu
Enter Client Age:7
Welcome:Timpu
client Age is:7

In [ ]:
# Data Types
name = input("Enter CLient Name:")
age  = int(input("Enter Client Age:"))
Percentage = float(input("Enter Client Percentage:"))
details_correct =bool("Enter Details Correct:")
print("---Client Details---")
print(f"Welcome:{name}")
print(f"client Age is:{age}")
print(f"client Percentage :{Percentage}")
print(f"Details Found:{details_correct}")

Enter CLient Name:Nomesh
Enter Client Age:20
Enter Client Percentage:80.3
---Client Details---
Welcome:Nomesh
client Age is:20
client Percentage :80.3
Details Found:True

In [ ]:
# strings
name = "nomesh"
print(name)

nomesh

In [ ]:
# string slicing
name = input("Enter a Name")
# nomeshwar
print(name[0:6])

Enter a Namenomeshwar
nomesh

In [ ]:
# lists
name = ["nomesh","charan",6612,70.3]
print(name)

nomesh

In [ ]:
# sorting in list
marks = [225,22,33,22,11,0,21,35,4,56,58,4,5,6]
marks.sort()
for i in marks:
  print(i)

0
4
4
5
6
11
21
22
22
33
35
56
58
225

In [ ]:
marks = [58,55,66,55,555,2,585,588,554,5,51,52]
marks.reverse()
for i in marks:
  print(i)

52
51
5
554
588
585
2
555
55
66
55
58

In [ ]:
name = ["nani","nomesh","charan","prem"]
name.insert(0, "bhavesh")
for i in name:
  print(i)

TypeError: insert expected 2 arguments, got 1

In [ ]:
name = input["Enter The Lists:"]
print(name)

TypeError: 'method' object is not subscriptable

In [ ]:
fruits = []
for i in range(5):
  name = input("Enter Name of the fruit: ")
  fruits.append(name)
  print(fruits)

Enter Name of the fruit: banana
['banana']
Enter Name of the fruit: apple
['banana', 'apple']
Enter Name of the fruit: kiwi
['banana', 'apple', 'kiwi']
Enter Name of the fruit: pine apple
['banana', 'apple', 'kiwi', 'pine apple']
Enter Name of the fruit: mango
['banana', 'apple', 'kiwi', 'pine apple', 'mango']

In [ ]:
name = []
for i in range(5):
  names = input("enter the names:")
  name.append(names)
  print(name)

enter the names:charan
['charan']
enter the names:nani
['charan', 'nani']
enter the names:vishnu
['charan', 'nani', 'vishnu']
enter the names:poorna
['charan', 'nani', 'vishnu', 'poorna']
enter the names:bhavesh
['charan', 'nani', 'vishnu', 'poorna', 'bhavesh']

In [ ]:
marks = []
for i in range(5):
  roll = input("enter roll numbers :")
  marks.append(roll)
  print(marks)

enter roll numbers :6612
['6612']
enter roll numbers :6634
['6612', '6634']
enter roll numbers :6618
['6612', '6634', '6618']
enter roll numbers :6650
['6612', '6634', '6618', '6650']
enter roll numbers :6657
['6612', '6634', '6618', '6650', '6657']

In [ ]:
# tuples
names = (6612,550,"charan","nani",520)
print(type(names))
print(names)

<class 'tuple'>
(6612, 550, 'charan', 'nani', 520)

In [ ]:
# to stor multiple values by user input in list
names = []
for i in range(5):
  name = input("Enter the client names:")
  names.append(name)
  print(names)

Enter the client names:Nomesh
['Nomesh']
Enter the client names:Bhavesh
['Nomesh', 'Bhavesh']
Enter the client names:poorna
['Nomesh', 'Bhavesh', 'poorna']
Enter the client names:solomon
['Nomesh', 'Bhavesh', 'poorna', 'solomon']
Enter the client names:revanth
['Nomesh', 'Bhavesh', 'poorna', 'solomon', 'revanth']

In [ ]:
# sum of lists
marks_nomesh = [66,96,55,22,68,45]
print(sum(marks_nomesh))

352

In [ ]:
marks = []
for  i in range(5):

  client_marks = int(input("Enter The Marks:"))
  marks.append(client_marks)
  print(sum(marks))

Enter The Marks:90
90
Enter The Marks:80
170
Enter The Marks:70
240
Enter The Marks:50
290
Enter The Marks:60
350

In [ ]:
# dictionaries
set_1 = {
    "name" : "nomesh",
    "age"  : 22,
    "percentage" :70.3

}
print(set_1["name"])

nomesh

In [ ]:
clients = {
    "client1": "nomesh",
    "client2": "revanth",
    "age_client1": 21,


}
print(clients["client1"])
print(clients.items())
print(clients.keys())
print(clients.values())

nomesh
dict_items([('client1', 'nomesh'), ('client2', 'revanth'), ('age_client1', 21)])
dict_keys(['client1', 'client2', 'age_client1'])
dict_values(['nomesh', 'revanth', 21])

In [ ]:
# dictionary methods
clients = {
    "client_1" : "Nomesh",
    "client_2" : "charan",
    "age_client1" : 21,
    "age_client2" : 22 ,
    6612 : "nomesh",
}
clients.update({6612:"nomeshwar"})
print(clients.keys())
print(clients.items())
print(clients.values())
print(clients.get(6612))

dict_keys(['client_1', 'client_2', 'age_client1', 'age_client2', 6612])
dict_items([('client_1', 'Nomesh'), ('client_2', 'charan'), ('age_client1', 21), ('age_client2', 22), (6612, 'nomeshwar')])
dict_values(['Nomesh', 'charan', 21, 22, 'nomeshwar'])
nomeshwar

In [ ]:
# sets
# dictionary empty creation
names = {}
print(type(names))
# to create set
s = set()
print(type(s))
s ={"nomesh","nomesh",6612,6618,6650}
print(s)
print(type(s))

<class 'dict'>
<class 'set'>
{6618, 'nomesh', 6612, 6650}
<class 'set'>

In [ ]:
# union and intersection
set_1 ={1,2,3,5,4}
print(type(set_1))
set_2 ={1,2,3,4,5,6}
print(set_1.union(set_2))
print(set_1.intersection(set_2))
set_2.add(55)
print(set_2)

<class 'set'>
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 55}

In [ ]:
print("nomesh mudhiraj welcome back!!")

nomesh mudhiraj welcome back!!

In [ ]:
name = input("Enter Client Name:")
age = int(input("Enter Client Age"))
ph = int(input("Enter Client Ph No:"))
gmail_id = input("Enter Client mail id:")
print("---Client Details ---")
print("Welcome",name)
print("you're",age,"old")
print("client Contact no:",ph)
print("client Gmail_id:",gmail_id)
client_salary = int(input("Enter The Salary:"))
yearly_salary = client_salary*12
print("client Yearly Salary:",yearly_salary)

Enter Client Name:Nomesh
Enter Client Age21
Enter Client Ph No:9696996
Enter Client mail id:nomeshmudhiraj@gmail.com
---Client Details ---
Welcome Nomesh
you're 21 old
client Contact no: 9696996
client Gmail_id: nomeshmudhiraj@gmail.com
Enter The Salary:30000
client Yearly Salary: 360000

In [ ]:
import pandas as pd
gym_clients = {
    "Client_Names":  ["Nomesh","charan","Vishnu","Prem"],
    "Client_age": [21,23,23,20],
    "client_Contact":[999696,8585858,9695985,85858]
}
df=pd.DataFrame(gym_clients)
print(df)

  Client_Names  Client_age  client_Contact
0       Nomesh          21          999696
1       charan          23         8585858
2       Vishnu          23         9695985
3         Prem          20           85858

In [ ]:
import pandas as pd

gym_clients = {
    "Client_Names": ["Nomesh", "Charan", "Vishnu", "Prem"],
    "Client_Age": [21, 23, 23, 20],
    "Client_Contact": [999696, 8585858, 9695985, 7878787]
}

df = pd.DataFrame(gym_clients)

df

  Client_Names  Client_Age  Client_Contact
0       Nomesh          21          999696
1       Charan          23         8585858
2       Vishnu          23         9695985
3         Prem          20         7878787

In [ ]:
# practice set 1
print("""jhony jhony yes papa eating sugr no papa telling lies no papa open your mouth hahaha""")

jhony jhony yes papa eating sugr no papa telling lies no papa open your mouth hahaha

In [ ]:
a = int(input("Enter a Number:"))
for i in range(1,11):
  c = (a*i)
  print(a,"x",i,"=",c)

Enter a Number:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
# to add two numbers
a = int(input("Enter a Number:"))
b = int(input("Enter a Number:"))
c =(a+b)
print("Sum of Two Numbers:",c)

Enter a Number:10
Enter a Number:100
Sum of Two Numbers: 110

In [ ]:
for i in range(21):
  if(i%2==0):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
name = input("Enter client Name:")
age = int(input("Enter Client Age:"))
ph = int(input("Enter Client ph no:"))
percentage = float(input("Enter Client Percentage:"))
details_correct = bool(input("Enter Yes if Found:"))
print(name,type(name))
print(age,type(age))
print(ph,type(ph))
print(percentage,type(percentage))
print(details_correct,type(details_correct))

Enter client Name:Nomesh
Enter Client Age:21
Enter Client ph no:852963
Enter Client Percentage:70.3
Enter Yes if Found:no
Nomesh <class 'str'>
21 <class 'int'>
852963 <class 'int'>
70.3 <class 'float'>
True <class 'bool'>

In [ ]:
a = int(input("Enter a Number:"))
if(a>=34):
  print(a," is eligible")

Enter a Number:36
36  is eligible

In [ ]:
a = int(input("Enter a Number:"))
b = int(input("Enter a number:"))
avg = (a+b)/2
print("avg is:",avg)

Enter a Number:50
Enter a number:50
avg is: 50.0

In [ ]:
a = int(input("Enter a Number:"))
square = a*a
print("square is:",square)

Enter a Number:5
square is: 25

In [ ]:
name = input("Enter Client Name:")
print("---Welcome---",name)
print("good afternoon:",name)

Enter Client Name:nomesh
---Welcome--- nomesh
good afternoon: nomesh

In [ ]:
letter = "Congrats You're Selected!!"
name = input("Enter Student Name:")
print(name,letter)

Enter Student Name:nomesh
nomesh Congrats You're Selected!!

In [ ]:
fruits = []
for i in range(8):
  fruit = input("Enter Fruit Name:")
  fruits.append(fruit)
  print(fruits)

Enter Fruit Name:apple
['apple']
Enter Fruit Name:kiwi
['apple', 'kiwi']
Enter Fruit Name:mango
['apple', 'kiwi', 'mango']
Enter Fruit Name:banana
['apple', 'kiwi', 'mango', 'banana']
Enter Fruit Name:pineapple
['apple', 'kiwi', 'mango', 'banana', 'pineapple']
Enter Fruit Name:strawberry
['apple', 'kiwi', 'mango', 'banana', 'pineapple', 'strawberry']
Enter Fruit Name:papaya
['apple', 'kiwi', 'mango', 'banana', 'pineapple', 'strawberry', 'papaya']
Enter Fruit Name:pomogranate
['apple', 'kiwi', 'mango', 'banana', 'pineapple', 'strawberry', 'papaya', 'pomogranate']

In [ ]:
l = [11,52,11,52,15,51,52,85,96,12,47,2,3]
l.sort()
l.append(150)
l.reverse()
l.remove(150)
l.insert(0,1)
print(l)
print()
sum = 0
for i in l:
  sum =sum+i
  print(sum)

[1, 96, 85, 52, 52, 52, 51, 47, 15, 12, 11, 11, 3, 2]

1
97
182
234
286
338
389
436
451
463
474
485
488
490

In [1]:
x,y,z =1,55,66
print(y)

55

In [3]:
# multiple assignments in one line
x,y,z = 6612,"Nomesh",852
print(y)
print(type(y),type(y))

Nomesh
<class 'str'> <class 'str'>

In [4]:
# string methods
a = input("Enter a Name:")
print(a)
print(a.capitalize())
print(a.lower())
print(a.upper())

Enter a Name:nomesh
nomesh
Nomesh
nomesh
NOMESH

In [6]:
# list again
gym_clients = ["Nomesh","chandu","poorna","charan"]
print(gym_clients)
print(gym_clients[0])
print(len(gym_clients))
gym_clients.append("prem")
print(gym_clients)
gym_clients.insert(4,"vishnu")
print(gym_clients)

['Nomesh', 'chandu', 'poorna', 'charan']
Nomesh
4
['Nomesh', 'chandu', 'poorna', 'charan', 'prem']
['Nomesh', 'chandu', 'poorna', 'charan', 'vishnu', 'prem']

In [8]:
# variables and datatypes for datascience
name = input("Enter client Name:")
age  = int(input("Enter Client Age:"))
client_fees = float(input("Enter Client Fees:"))
details_match = bool(input("Enter Yes or No:"))
print("---Client Details---")
print(f"welcome:{name}")
print(f"client age is:{age}")
print(f"Client gym fee is :{client_fees}")
print(f"client details found:{details_match}")

Enter client Name:Nomesh
Enter Client Age:24
Enter Client Fees:1500.0
Enter Yes or No:no
---Client Details---
welcome:Nomesh
client age is:24
Client gym fee is :1500.0
client details found:True

In [9]:
# mini task
print("--- client transformation Form---")
name  = input("Enter Client Name:")
age   = int(input("Enter Client Age:"))
goal  = input("Enter Goal Type:")
current_weight = int(input("Enter Current Weight:"))
new_weight = int(input("Enter The weight to achieve:"))
plan_details = int(input("Enter Plan Fees:"))
print("---client Details---")
print("Welcome:",name)
print("client age :",age)
print("client current weight:",current_weight)
print("client goal weight is:",new_weight)
print("Client Plan Details:",plan_details)
print("client is ready to join")

--- client transformation Form---
Enter Client Name:Nomesh
Enter Client Age:21
Enter Goal Type:weight gain
Enter Current Weight:53
Enter The weight to achieve:70
Enter Plan Fees:5000
---client Details---
Welcome: Nomesh
client age : 21
client current weight: 53
client goal weight is: 70
Client Plan Details: 5000
client is ready to join