In [ ]:
# basic syntax
print("Welcome Nomesh")

Welcome Nomesh

In [ ]:
# How to take user input
name = input("Enter Your Name:")
age  = int(input("Enter Client Age:"))
print("Welcome:",name)
print("client Age is:",age)

Enter Your Name:Nomesh
Enter Client Age:21
Welcome: Nomesh
client Age is: 21

In [ ]:
# Data Types
name = input("Enter Your Name:")
marks = int(input("Enter Client Marks:"))
percentage =float(input("Enter The Client Percentage:"))
user_found = bool(input("Client Matches"))
print(f"Welcome:{name}")
print(f"Student Marks:{marks}")
print(f"Student Percentage:{percentage}")
print(f"User_Matches:{user_found}")

Enter Your Name:Nomesh
Enter Client Marks:803
Enter The Client Percentage:80.3
Client Matchesyes
Welcome:Nomesh
Student Marks:803
Student Percentage:80.3
User_Matches:True

In [ ]:
# string slicing
name = input("Enter User Name:")
print(name)
# nomesh
print(name[0:4])

Enter User Name:nomesh
nomesh
nome

In [ ]:
# string slicing
name = input("Enter User Name:")
print(name)
# nomesh
print(name[-1::])

Enter User Name:nomesh
nomesh
h

In [ ]:
# string slicing
name = input("Enter User Name:")
print(name)
# nomesh
print(name[0::])

Enter User Name:nomesh
nomesh
nomesh

In [ ]:
# string slicing
name = input("Enter User Name:")
print(name)
# nomesh
print(name[::-1])

Enter User Name:nomesh
nomesh
hsemon

In [ ]:
# lists
names = ["charan","vishnu","prem","Bhavesh","solo"]
print(names[0])

charan

In [ ]:
names = ["sai","solo","nomesh","bhavesh"]
for i in names:
  print(i)

sai
solo
nomesh
bhavesh

In [ ]:
names = ["charan","nomesh","bhavesh"]
marks = [70.2,80.3,70.4]
for i in names:
  print("names:",i)
for j in marks:
  print("marks:",j)

names: charan
names: nomesh
names: bhavesh
marks: 70.2
marks: 80.3
marks: 70.4

In [ ]:
# string methods
name = "nomesh"
print(len(name))
print(name.startswith("nom"))
print(name.endswith("esh"))
print(name.capitalize())

6
True
True
Nomesh

In [ ]:
# in lists we can store different types of data
items = ["Nani",85.2,6612,True]
print(items)
print(items[0])

['Nani', 85.2, 6612, True]
Nani

In [7]:
# list methods 1.sort
numbers = [20,30,20,15,10,2,5]
print((numbers.sort()))
for i in numbers:
  print(i)

None
2
5
10
15
20
20
30